

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 {# Création du bloc "title" avec "Plateforme" comme contenu par défaut #}
 <title>{% block title %}Configurateur{% endblock %}</title>

 {% block stylesheets %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

 {% endblock %}

 {% block javascripts %}
 <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
 {%  endblock %}
</head>
<!-- on définit la couleur de fond -->
<body class="background">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<img src="{{ asset('build/img/amihauteur.png') }}" alt="Ami-hauteur logo" width=8%>
  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <a class="navbar-brand" href=" {{ path('index') }} ">Accueil</a>
  {% endif %}
  {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
  <a class="navbar-brand" href="{{ path('ajout') }}">Ajouter</a>
  {# {% endif %}#}
  {# {% if is_granted('IS_AUTHENTICATED_FULLY') %} #}
  <a class="navbar-brand" href="{{ path('logout') }}">Deconnexion</a>
  {# {% endif %} #}
  </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {# <div class="collapse navbar-collapse" id="navbarSupportedContent"> #}
    {# <ul class="navbar-nav mr-auto"> #}
      {# <li class="nav-item active"> #}

      {# </li> #}
    {# </ul> #}
  {# </div> #}
</nav>
        <!-- Création du bloc "body" sans contenu par défautn-->
        {% block body %}

        {% endblock %}
        
    <div>
    <footer>
    <center><p>Site développé par Ami-Hauteur</p></center>
    </footer>


</body>
</html>
