{% extends 'base.html.twig' %}

{% block title %}Acces refusé{% endblock %}

{% block body %}

<center>Acces refusé</center>

<center><a href="{{ path('logout') }}">Veuillez vous identifier</a></center>

{% endblock %}