{# <footer id="footer" class="fixed-bottom">
<div class="footer-copyright">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p>Site developpé par Ami-Hauteur</p>
</footer> #}

<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Site developpé par Ami-Hauteur
  </div>
  <!-- Copyright -->

</footer>